.titulo{
    width: 800px;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.863);
    font-size: 70px;
    text-align: center;
    padding: 2px 2px 2px 2px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgb(104, 92, 216) 0 10px 25px;

}

.cuerpo{

    background-color: rgba(0, 0, 0, 0.932);
    color: rgba(255, 255, 255, 0.863);
    font-size: 25px;
    padding: 10px 20px 20px 20px;
    border: 25px solid rgb(0, 0, 0);
    border-radius: 10px;

}

.boton{

    background-color: rgba(0, 0, 0, 0.753);
    color: rgba(255, 255, 255, 0.863);
    font-size: 35px;
    border: 3px solid rgba(255, 255, 255, 0.719);
    border-radius: 10px;
    box-shadow: rgb(104, 92, 216) 0 7px 10px;

}

.texto{

    color: rgba(255, 255, 255, 0.863);
    font-size: 40px;
    width: 600px;
}

.input{
    color: black;
    box-shadow: rgb(104, 92, 216) 0 7px 10px;
    font-size: 20px;
    width: 300px;
    height: 40px;
}

.linea{
    
    display: flex;
    justify-content: space-between;
}

.linuea{
    display: flex;
    justify-content: space-around;
}

.resultados{

    width: 500px;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.863);
    font-size: 50px;
    padding: 2px 2px 2px 2px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(104, 92, 216) 0 10px 25px;
    display: flex;
    justify-content: center;

}
